.text-color {
    color: gray;
    text-align: left;
    padding-block: 1em;
    font-family: sans-serif;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: white;
}

.skill-tabs {
    border-radius: 5px;
}

.background {
    background-color: #75757511;
    padding-top: 1em;
}

.skills-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-icons {
    background-color: #d1d1d1;
    border-radius: 5px;
    color: rgb(57, 50, 50);
    padding: 5px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.shad {
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

@media (min-width:360px){
.profileimg{
    justify-content: center;
}
}